.box-extra-top-border {
    height: 0.5rem;
    width: 100%;
    border-top: var(--accent) 5px solid;
    border-bottom: var(--accent) 5px solid;
    box-sizing: content-box;
}

.box-container-container {
    width: 100%;
    padding: 0.5rem 1rem;
}

.box-container {
    display: flex;
    justify-content: space-between;
    /* padding: 0.5rem 1rem; */
    align-items: center;
    /* border-top: var(--accent) 5px solid; */
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

boxy-box {
    width: 15%;
    max-width: 200px;
}

.box-num {
    user-select: none;
}
