.header {
    width: 100%;
    padding: 0 1rem;
}

#percentage-container {
    display: flex;
    gap: 0.5rem;
    margin-right: 200px;
    position: relative;
    z-index: 52;
}

.header-percentage-fill {
    width: calc(100% - 170px);
    height: calc(100% - 5px);
    z-index: 50;
    position: absolute;
    top: 2.5px;
    right: 170px;
    //mix-blend-mode: difference;
}

#header-percentage-inner-fill {
    position: absolute;
    right: 0;
    top: -1px;
    width: 0%;
    height: calc(100% + 2px);
    background-color: var(--accent);
}

.percentage {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--background);
    -webkit-text-stroke: 1px var(--accent);
    z-index: 52;
}

.header-inner {
    max-width: 1280px;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25rem;
    border-left: var(--accent) 5px solid;
    border-right: unset;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    & > * {
        transform: translateY(-2.5px);
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: -5px;
        left: -5px;
        height: 5px;
        width: 90%;
        background-color: var(--accent);
        z-index: 99;
        //border: var(--accent) 5px solid;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0px;
        left: 0;
        height: 5px;
        width: 90%;
        background-color: var(--accent);
        z-index: 99;
        //border: var(--accent) 5px solid;
    }
}

#case-file {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 0.5rem;
    font-size: 3em;
    mix-blend-mode: difference;
    z-index: 99;
}

.lumon-logo-container {
    position: absolute;
    height: 106px;
    width: 200px;
    right: -10px;
    top: -25px;
    transform: translateX(2.5px);
    //background: blue;
    z-index: 51;
    // opacity: 0.5;

    .outer-oval {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: var(--accent) 5px solid;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background);
        overflow: hidden;

        .top-border {
            position: absolute;
            top: 15px;
            width: 100%;
            height: 5px;
            background-color: var(--accent);
        }

        .bottom-border {
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: var(--accent);
            top: 76px;
        }

        .middle-border {
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: var(--accent);
        }

        .lumon-text-container  {
            width: 85%;
            height: 40%;
            background-color: var(--background);
            z-index: 99;

            .lumon-text {
                width: 90%;
                margin-left: 5%;
                height: 100%;
                // background-color: var(--background);
                // z-index: 99;
                background-image: url('../img/lumon-logo-accented-new.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50%;
                // border-top: var(--accent) 5px solid;
            }
        }
    }

    .medium-oval {
        border: var(--accent) 5px solid;
        border-radius: 50%;
        width: 75%;
        height: calc(100% + 10px);
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    .inner-oval {
        border: var(--accent) 5px solid;
        border-radius: 50%;
        width: 50%;
        height: calc(100% + 10px);
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
}

.lumon-logo {
    height: 130%;
    background-color: var(--background);
}

@media screen and (max-width: 920px) {
    #complete {
        display: none;
    }

    #case-file {
        line-height: 1;
        height: fit-content;
        text-align: center;
        font-size: 2.5em;
    }

    .header-inner {
        height: 51px;
        margin-top: calc(1.5em + 2.5px);
        margin-bottom: calc(1.5em - 2.5px);
    }

    .header-percentage-fill {
        width: calc(100% - 120px);
        right: 120px;
    }

    #percentage-container {
        margin-right: 150px;
    }

    .percentage {
        font-size: 2.5em;
    }

    .lumon-logo-container {
        width: 150px;
        height: 86px;
        top: -20px;

        .outer-oval {
            .top-border {
                top: 10px;
            }

            .bottom-border {
                top: 60px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #case-file {
        line-height: 1;
        height: fit-content;
        text-align: center;
        font-size: 2em;
    }

    .percentage {
        font-size: 1.75em;
    }
}

@media screen and (max-width: 400px) {
    #case-file {
        line-height: 1;
        height: fit-content;
        text-align: center;
        font-size: 1.5em;
    }

    .percentage {
        font-size: 1.5em;
    }
}