:root {
    --accent: #aaf3fc;
    --background: #010408;
}

@keyframes loading {
    0% {
        width: 0;
    } 100% {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

html, body {
    height: 100svh;
    width: 100svw;
    overflow: hidden;
    background-color: var(--background);
    color: white;
    font-family: "Poppins";
    color: var(--accent);
    cursor: url("../img/cursor.svg"), auto;
}

#canvas {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.canvas-container {
    position: relative;
    max-width: 100lvw;
    overflow: hidden;
}

.app {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(1px); */
    z-index: 999;
    /* background-color: rgba(0, 0, 0, 0.1); */
    pointer-events: none;
    background: url("../img/background-tile.png");
}

.hex-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: var(--accent) solid 5px;
}

.hex-container {
    display: flex;
    gap: 2em;
    font-size: 1.5em;
    /* margin-bottom: 15vh; */
}

.hex-container > span {
    user-select: none;
}

.box-extra-top-border {
    height: 0.5rem;
    width: 100%;
    border-top: var(--accent) 5px solid;
    border-bottom: var(--accent) 5px solid;
    box-sizing: content-box;
}

.box-container-container {
    width: 100%;
    padding: 0.5rem 1rem;
}

.box-container {
    display: flex;
    justify-content: space-between;
    /* padding: 0.5rem 1rem; */
    align-items: center;
    /* border-top: var(--accent) 5px solid; */
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

boxy-box {
    width: 15%;
    max-width: 200px;
}

.box-num {
    user-select: none;
}

.header-container {
    width: 100%;
    padding: 0 1rem;
}

.header-inner {
    max-width: 1280px;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25rem;
    border: var(--accent) 5px solid;
    border-right: unset;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.header-inner h1 {
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

.header-end {
    margin-right: 12ch;
}

.header-end h1 {
    margin: 0;
    padding: 0;
    color: var(--background);
    -webkit-text-stroke: 2px var(--accent);
}

.lumon-logo-container {
    position: absolute;
    height: 106px;
    width: 200px;
    right: -100px;
    top: -25px;
    // background: blue;
    // opacity: 0.5;

    .outer-oval {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: var(--accent) 5px solid;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background);
        overflow: hidden;

        .top-border {
            position: absolute;
            top: 15px;
            width: 100%;
            height: 5px;
            background-color: var(--accent);
        }

        .bottom-border {
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: var(--accent);
            top: 76px;
        }

        .lumon-text-container  {
            width: 85%;
            height: 40%;
            background-color: var(--background);
            z-index: 99;

            .lumon-text {
                width: 90%;
                margin-left: 5%;
                height: 100%;
                // background-color: var(--background);
                // z-index: 99;
                background-image: url('../img/lumon-text-accented.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50%;
                // border-top: var(--accent) 5px solid;
            }
        }
    }

    .medium-oval {
        border: var(--accent) 5px solid;
        border-radius: 50%;
        width: 75%;
        height: calc(100% + 10px);
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    .inner-oval {
        border: var(--accent) 5px solid;
        border-radius: 50%;
        width: 50%;
        height: calc(100% + 10px);
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
}

.lumon-logo {
    height: 130%;
    background-color: var(--background);
}